<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shoe Store - Shop</title>
    <link rel="apple-touch-icon" href="/static/img/apple-icon.png" th:href="@{img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" th:href="@{img/favicon.ico}">

    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/templatemo.css" th:href="@{css/templatemo.css}">
    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/custom.css" th:href="@{css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/fontawesome.min.css" th:href="@{css/fontawesome.min.css}">
</head>
<body>
    <div th:replace="fragments/navbar (quantity=${cart.getQuantity()})"></div>
    <div class="container my-5">
        <h1>Shop</h1>
    </div>

    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Type
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Sneakers</a></li>
                            <li><a class="text-decoration-none" href="#">Boots</a></li>
                            <li><a class="text-decoration-none" href="#">Sunglass</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" th:each="product: ${products}">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="assets/img/shop_01.jpg">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html" th:href="@{view-product(id=${product.id})}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html" ><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" th:href="@{view-product(id=${product.id})}" class="h3 text-decoration-none" th:text="${product.name}">Product Title</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <p class="mb-0" th:text="${product.formatPrice(product.price)}">$0.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments/footer"></div>
</body>
</html>
