<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shoe Store - Shop</title>
    <link rel="apple-touch-icon" href="/static/img/apple-icon.png" th:href="@{img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" th:href="@{img/favicon.ico}">

    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/templatemo.css" th:href="@{css/templatemo.css}">
    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/custom.css" th:href="@{css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" th:rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:rel="stylesheet" href="/static/css/fontawesome.min.css" th:href="@{css/fontawesome.min.css}">
</head>
<body>
    <div th:replace="fragments/navbar"></div>
    <p>Shop</p>
</body>
</html>
